<section class="bodyExpertise">
  <app-breadcrumb [title]="'Des pôles d\'expertises centrés sur les problématiques majeures du top management'"
    [description]="'Au sein de Top Management Institute, nous investissons en permanence pour vivre notre mission et valeurs. Être une organisation à mission centrée sur les leaders, nous a naturellement orienté vers des pôles d’expertises où nos leaders ont le plus besoin d’être supporté.'"
    [pagetitle]="'Expertise'" [imageLink]="images.expertiseGroupDiverse" />
  <app-gouvernance />
  <app-strategie />
  <app-timeline />
  <app-syringe />
  <app-managehumain />
  <app-leadership-t />
</section>