



<section class="bodyPolitique">
    <app-breadcrumb 
    [title]="'Au sein de Top Management Institute, nous avons conçu des politiques centrées sur les leaders pour vous permettre de créer de la valeur dans les meilleures conditions'" 
    [description]="'Pour vivre pleinement notre mission et nos valeurs, nous avons conçus nos politiques en vous mettant, en tant que LEADERS, au cœur de toute réflexion. Ces politiques sont taillées pour VOUS offrir une Expérience de Leader mémorable (Leadership Experience) tout au long de votre parcours de Leader.'"
    [pagetitle] = "'Politiques'"
    [imageLink] = "images.politiqueleader" />
    <app-policy-section />
</section>
