<section class="partners-section py-5">
    <div class="container text-center">
        <div class="partners-header mb-4">
            <div class="circle-label text-center">
                <span class="d-flex align-items-center gap-2">
                    <i class="fas fa-circle"></i> 
                    <i class="fas fa-circle"></i>
                </span> Références
            </div>
            <h3 class="partners-title">
                <strong>Plus de 30 000 entreprises font confiance à</strong> <br>
                <span class="brand">Top Management Institute</span>
            </h3>
        </div>
        <!-- Carousel -->
        <owl-carousel-o [options]="partnersOptions" class="partnerItems">
            <ng-template carouselSlide>
                <img [src]="images.partnerToyota" alt="Toyota">
            </ng-template>
            <ng-template carouselSlide>
                <img [src]="images.partenerInicambridge" alt="Cambridge">
            </ng-template>
            <ng-template carouselSlide>
                <img [src]="images.partnerSpotify" alt="Spotify">
            </ng-template>
            <ng-template carouselSlide>
                <img [src]="images.partnerQatar" alt="Qatar Airways">
            </ng-template>
            <ng-template carouselSlide>
                <img [src]="images.partnerBooking" alt="Booking">
            </ng-template>
            <ng-template carouselSlide>
                <img [src]="images.partnerMicrosoft" alt="Microsoft">
            </ng-template>
            <ng-template carouselSlide>
                <img [src]="images.partnerHespress" alt="Hespress">
            </ng-template>
        </owl-carousel-o>
    </div>
</section>